@model IEnumerable<MusicSite.WEB.Models.SongViewModel>

<div class="form-group">
    @using (Ajax.BeginForm("Search", "Home",
        new AjaxOptions
        {
            UpdateTargetId = "song",
            HttpMethod = "POST"
        }))
    {
        <div class="input-group ">
            @Html.TextBox("searchString", null, new { @type = "text", @class = "form-control" })
            <span class="input-group-btn">
                <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Search" />
            </span>
        </div>
    }
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <tr scope="row">
            <th>Author</th>
            <th>Song title</th>
            <th>Genre</th>
            <th>Date Posted</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr scope="row">
                <td>
                    @Html.DisplayFor(model => item.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedOnSite)
                </td>
            </tr>
        }
    </table>
</div>